*{
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #666;
    font: 12px/150% Arial, Verdana,"微软雅黑";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}
.top2 a,.top3 a {
    color: #666;
    padding: 0 8px;
}
.header {
    background: #f1f1f1;
    line-height: 30px;
    width: 100%;
}
.top {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 30px;
    padding-right: 40px;
}
.list_down {
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 30px;
    width: 313px;
    padding: 10px;
    display: none;
    border-top: none;
    background: #fff;
    z-index: 10000;
}
.list_down li {
    float: left;
    margin: 0 10px;
    text-align: left;
}
.list_nmg {
    transform: translateX(-10px);
}
.list_down li a {
    padding: 5px 8px;
}
.list_down li a:hover {
    background: #f1f1f1;
    color: red;
}
.top_left {
    float: left;
}
.top_left ul li {
    cursor: default;
}
.top_right {
    float: right;
}
.m-loginbar:hover {
    color: red;
}
.top_right ul li {
    float: left;
    padding: 0 10px;
}
.m_color {
    color: red;
}
.m_address a {
    padding: 0 10px;
}
.m_address:hover {
    background: #fff;
}
.top2 {
    width: 995px;
    margin: 0 auto;
    height: 145px;
}
.logo {
    float: left;
    position: relative;
}
.logo img {
    position: absolute;
    top: 20px;
    left: -123px;
    border-radius: 5px;
}
.main {
    background: #e45050;
}
.m-main {
    width: 980px;
    height: 80px;
    margin: 0 auto;
}
.m-main dl {
    float: left;
    margin-left: 90px;
    margin-top: 10px;
}
.m-main dl span {
    font-size: 25px;
    color: #fff;
}
.m-main dd {
    text-align: center;
    margin-top: 15px;
    border: 1px solid #ffb2b2;
    border-radius: 15px;
    margin-left: -50px;
}
.pay a {
    color: red;
    text-decoration: underline;
}
.m-main dd a {
    display: inline-block;
    color: #ffb2b2;
    padding: 5px 10px ;
}
.m-main dd:hover {
    background: #fff;
}
.m-main dd:hover a {
    color: #e45050;
}
.m-main ul {
    line-height: 80px;
}
.m-main ul li {
    float: left;
    margin-left: 50px;
    color: #fff;
    font-size: 14px;
    position: relative;
}
.m-main ul li span {
    transition: all 2s ;
    display:inline-block;
}
.m-main ul li:hover span {
    transform:rotate(360deg);
}
.m-main ul li a {
    color: #fff;
}
.m-main-left li:hover a {
    text-decoration: underline;
}
.down-list ul {
    position: absolute;
    top: 50px;
    background: #fff;
    border: 1px solid #ccc;
    padding:0 5px;
    display: none;

}
.down-list ul li {
    float: none;
    line-height: 30px;
    margin: 0;
}
.down-list ul li a {
    color: #0f0f0f;
}
.down-list li:hover a {
    color: red;
}
.content {
    width: 100%;
    background: #f5f5f5;
}
.down-list:hover li a {
    text-decoration: none;
}
.content-main {
    width: 1230px;
    margin: 0 auto;
    overflow: hidden;
}
.content-side {
    float: left;
    width: 115px;
}
.content-side dt {
    font-weight: bold;
    margin-top: 20px;
}
.content-side dd {
    padding: 10px 0;
}
.content-side a:hover {
    color: red;
    text-decoration: underline;
}
.content-right {
    float: left;
    width: 1085px;
}
.right-title {
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    background: #fff;
    padding-left: 20px;
}
.right-main {
    height: 165px;
    width: 100%;
    background: #fff;
    margin-top: 20px;
}
.right-main-title li {
    float: left;
    padding: 20px;
}
.right-main-title li:first-child a{
    color: red;
    border-bottom: 2px solid red;
}
.right-main-title li a:hover {
    color: red;
}
.right-main-title ul {
    overflow: hidden;
}
table {
    margin-left: 20px;
}
tr {
    background: #f5f5f5;
}
td {
    padding: 10px 0;
}
td:first-child {
    width: 560px;
}
td:nth-child(2) {
    width: 160px;
}
td:nth-child(3) {
    width: 160px;
}
td:nth-child(4) {
    width: 160px;
}
.title-msg {
    background: red;
    color: #fff;
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 13px;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    transform: translate(2px ,-5px);
}
.right-main-footer {
    float: right;
    margin-right: 24px;
    margin-top: 20px;
}
.footer-left {
    margin-right: 20px;
}
.prv,.next {
    border: 1px solid #ddd;
    padding: 8px 10px;
}
.num {
    padding: 8px 20px;
    color: red;
}
.copyright {
    width: 100%;
    margin-top: 10px;
}
.copyright_content {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.copyright_content ul {
    width: 890px;
    margin: 30px auto;
    overflow: hidden;
}
.copyright_content li {
    float: left;
}
.copyright_content a {
    border-right: 1px solid #ccc;
    padding: 0 9px;
}
.copyright_content a:hover {
    color: red;
}
.br a {
    border: none;
}
.footer {
    clear: left;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}