/*总体重置*/
*{
    margin: 0;
    padding: 0;
}
/*主体背景和字体颜色、大小*/
body {
    background: #fff;
    color: #666;
    font: 12px/150% Arial, Verdana,"微软雅黑";
}
/*去掉列表圆点*/
li {
    list-style: none;
}
/*a标签去掉下划线，确定字体颜色*/
a {
    text-decoration: none;
    color: #666;
}
/*显示的地点的左填充*/
.pl {
    padding-left: 5px;
}
/*搜索框和购物车部分的a填充*/
.top2 a {
    padding: 0 8px;
}
/*导航菜单的a填充*/
.sp-color {
    padding: 0 8px;
}
/*容器*/
.m_box1 {
    overflow: hidden;
}
/*焦点图和tab转换部分*/
.m-fcoustab{
    /*overflow: hidden;*/
    position: relative;
}
/*页头*/
.header {
    background: #f1f1f1;
    line-height: 30px;
    width: 100%;
}
/*头部第一部分*/
.top {
    width: 1210px;
    margin: 0 auto;
    overflow: hidden;
    height: 30px;
}
/*地址下拉列表*/
.list_down {
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 30px;
    width: 313px;
    padding: 10px;
    display: none;
    border-top: none;
    background: #fff;
    z-index: 10000;
}
/*地址下拉列表子元素*/
.list_down li {
    float: left;
    margin: 0 10px;
    text-align: left;
}
/*地址下拉列表中特殊子元素*/
.list_nmg {
    transform: translateX(-10px);
}
/*地址下拉列表中的a标签*/
.list_down li a {
    padding: 5px 8px;
}
/*地址下拉列表中的a标签移入移出样式*/
.list_down li a:hover {
    background: #f1f1f1;
    color: red;
}
/*头部第一部分左部*/
.top_left {
    float: left;
}
.top_left ul li {
    cursor: default;
}
/*头部第一部分右部*/
.top_right {
    float: right;
}
/*登录交互效果*/
.m-loginbar:hover {
    color: red;
}
.top_right ul li {
    float: left;
    padding: 0 10px;
}
/*下拉地址选项*/
.m_address a {
    padding: 0 10px;
}
.m_address:hover {
    background: #fff;
}
/*第一部分完成*/
/*第二部分开始*/
.m_wrap {
    background: #fff;
    border-bottom: 2px solid #b61d1d;
    height: 175px;
}
.top2 {
    width: 1210px;
    margin: 0 auto;
    height: 145px;
}
.top2_main {
    float: left;
}
.logo {
    float: left;
    position: relative
}
.logo img {
    position: absolute;
    top: 20px ;
    left: 10px
}
.m_text {
    float: left;
    width: 455px;
    height: 35px;
    font-size: 14px;
    border: 2px solid #b61d1d;
    padding-left: 10px;
    outline: none;
}
.m_btn {
    height: 39px;
    background: #b61d1d;
    border: 1px solid #b61d1d;
    color: #fff;
    padding: 0 25px;
    margin-left: -3px;
    cursor: pointer;
    display: inline-block;
}
.m_form {
    margin-top: 25px;
    margin-left: 362px;
    float: left;
    height: 39px;
    /*overflow: hidden;*/
}
.m_shop {
    float: left;
    margin-top: 25px;
    margin-left: 100px;
    padding: 0 30px 0 23px;
    border: 1px solid #dfdfdf;
}
.m_shop a {
    background: url(../images/bg-img/m_shop.png) no-repeat left center #f9f9f9;
    padding-left: 20px;
}
.m_shop a:hover {
    color:#b61d1d ;
}
.m-suggest {
    margin-left: 362px;
    margin-top: 40px;
    clear: left;
}
.suggest-first {
    color: #c81623;
}
.m-suggest .action:hover {
    color: red;
}
/*第二部分推荐、搜索框、购车完成*/
/*第三部分开始*/
.top3 {
    width: 1210px;
    margin: 0 auto;
}
.m_nav li {
    float: left;
}
.m_first {
    border: 1px solid #b1191a;
    border-right: none;
}
.m_menu a {
    font-size: 15px;
    color: #000;
}
.child-color {
    color: #fff;
    font-size: 15px;
    padding-left: 5px;
}
.m_nav li ul li {
    float: none;
    background: #c81623;
}
.m_menu {
    margin: 0 20px;
}
.m_width {
    width: 210px;
    position: relative;
    background: #b1191a;
}
.m_width li {
    height: 31px;
}
.m_char {
    color: #fff;
    float: right;
    line-height: 30px;
    padding-right: 5px;
}
.m_menu a:hover {
    color:#b61d1d ;
}
.m_menulist {
    width: 800px;
    height: 480px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 210px;
    display: none;
    z-index: 10000;

}
.m-list {
    overflow: hidden;
}
.m_menulist dt,.m_menulist dd {
    float: left;
}
.m_menulist dt {
    float: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
}
.m_menulist dd {
    line-height: 30px;
    border-bottom: 1px solid gainsboro;
    width: 600px;
}
.m_menulist a:hover {
    color: red;
}
.m_menulist dd a {
    font-size: 12px;
    padding: 0 10px;
    border-left: 1px solid #ccc;
}
.m_width li:hover {
    background: #fff;
}
.m_width li:hover>a {
    color: red;
}
.m_width li:hover li a {
    color: #000;
}
.g-notice {
    width: 989px;
    float: left;
    margin-left: 20px;

}
.m-notice {
    border: 1px solid #EBEBEB;
    padding: 15px 30px 0;
    overflow: hidden;
    margin-top: 20px;
}
.m-notice-title h1 {
    padding: 10px 0 15px;
    margin-bottom: 10px;
    height: 24px;
    text-align: center;
    border-bottom: 1px solid #EBEBEB;
    font-family: \5fae\8f6f\96c5\9ed1;
    line-height: 24px;
    font-size: 20px;
    cursor: default;
}
.m-notice-time p {
    text-align: center;
    color: #999;
    cursor: default;
}
.m-notice-content {
    padding: 30px 10px;
    font-size: 14px;
    line-height: 2em;
}
/*列表和菜单完成*/
/*!*焦点图和tab选项卡开始*!*/
/*!*.m-fcoustab {*!*/
/*!*float: left;*!*/
/*!*overflow: hidden;*!*/
/*!*width: 1000px;*!*/
/*!*}*!*/
/*.g-focus {*/
    /*width: 730px;*/
    /*height: 454px;*/
    /*float: left;*/
    /*margin: 12px 0 10px 10px;*/
    /*position: relative;*/
/*}*/
/*.g-focus-num {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*bottom:1%;*/
    /*transform: translateX(-50%);*/
/*}*/
/*.g-focus-num li {*/
    /*float: left;*/
    /*padding: 0 5px;*/
    /*background: #666;*/
    /*margin: 0 10px;*/
    /*border-radius: 15px;*/
    /*color: #fff;*/
    /*cursor: pointer;*/
/*}*/
/*.g-focus-num li.on {*/
    /*background: #269ABC;*/
/*}*/
/*.g-banner {*/
    /*width: 1210px;*/
    /*margin: 20px auto 0;*/
    /*overflow: hidden;*/
/*}*/
/*.g-banner li {*/
    /*float: left;*/
    /*margin: 0 2px;*/
/*}*/
/*.g-banner li a {*/
    /*padding: 0;*/
/*}*/
/*.g-tab {*/
    /*width: 248px;*/
    /*height: 452px;*/
    /*float: left;*/
    /*position: absolute;*/
    /*!*transform: translate(55px,10px);*!*/
    /*top: 12px;*/
    /*left: 1147px;*/
    /*border: 1px solid #e4e4e4;*/
/*}*/
/*.g-tabtitle {*/
    /*overflow: hidden;*/
    /*background: #fdebb9;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
/*}*/
/*.g-tabtitle ul {*/
    /*margin-left: 15px;*/
/*}*/
/*.g-tabtitle li {*/
    /*float: left;*/
    /*padding: 5px 15px;*/
/*}*/
/*!*.g-tabtitle li:hover {*!*/
/*!*background: #fff;*!*/
/*!*}*!*/
/*.g-tabmain ul {*/
    /*margin-left: 10px;*/
/*}*/
/*.g-tabmain li {*/
    /*margin-top: 10px;*/
/*}*/
/*.g-tabmain li:hover a {*/
    /*color: red;*/
/*}*/
/*!*焦点图和tab标签页完成*!*/
/*!*热销产品*!*/
/*.g-hot {*/
    /*width: 1210px;*/
    /*margin: 0 auto;*/
    /*border: 1px solid #ededed;*/
    /*overflow: hidden;*/
/*}*/
/*.g-hottitle {*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*background: #f1f1f1;*/
    /*padding: 0 10px;*/
    /*margin-bottom: 10px;*/
/*}*/
/*.g-hottitle a {*/
    /*float: right;*/
/*}*/
/*.g-hottitle h2 {*/
    /*float: left;*/
/*}*/
/*.g-hotmain li {*/
    /*float: left;*/
/*}*/
/*.g-hotimg {*/
    /*width: 201px;*/
    /*height: 130px;*/
/*}*/
/*.g-hotpay {*/
    /*width: 150px;*/
    /*height: 61px;*/
    /*margin: 10px auto;*/
/*}*/
/*.g-hot li img {*/
    /*transition: all 2s;*/
/*}*/
/*.g-hot li:hover img {*/
    /*transform: translateX(10px) ;*/
/*}*/
/*.g-hotpay a:hover {*/
    /*color: red;*/
/*}*/
/*.g-hotpay span {*/
    /*font-weight: bold;*/
    /*color: red;*/
/*}*/
/*!*热销结束*!*/
/*!*热销2*!*/
/*.g-hot2 {*/
    /*width: 1210px;*/
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
/*}*/
/*.g-hot2-title {*/
    /*margin-top: 20px;*/
    /*height: 34px;*/
    /*line-height: 34px;*/
    /*border-bottom: 1px solid #b61d1d;*/
/*}*/
/*.hot2title-left {*/
    /*float: left;*/
    /*font-size: 20px;*/
    /*color: #333;*/
    /*padding-left: 40px;*/
/*}*/
/*.hot2title-right {*/
    /*float: right;*/
    /*border: 1px solid #ccc;*/
    /*border-bottom: none;*/
    /*height: 34px;*/
/*}*/
/*.hot2title-right li {*/
    /*float: left;*/
/*}*/
/*!*.hot2title-right li:hover {*!*/
/*!*border: 1px solid #b61d1d;*!*/
/*!*border-bottom: none;*!*/
/*!*border-top: 3px solid #b61d1d;*!*/
/*!*margin-top: -3px;*!*/
/*!*height: 34px;*!*/
/*!*z-index: 999999;*!*/
/*!*background: #fff;*!*/
/*!*}*!*/
/*.play {*/
    /*border: 1px solid #b61d1d;*/
    /*border-bottom: none;*/
    /*border-top: 3px solid #b61d1d;*/
    /*margin-top: -3px;*/
    /*height: 34px;*/
    /*z-index: 999999;*/
    /*background: #fff;*/
/*}*/
/*!*.hot2title-right li:hover a {*!*/
/*!*padding: 0 9px;*!*/
/*!*color: #b61d1d;*!*/
/*!*}*!*/
/*.play-color {*/
    /*color:  #b61d1d;*/
/*}*/
/*.hot2title-right li a {*/
    /*padding: 0 10px;*/
/*}*/
/*.hot2main-left {*/
    /*height: 475px;*/
    /*width: 210px;*/
    /*float: left;*/
    /*overflow: hidden;*/
    /*background: url("../images/bg-img/foodbg.jpg");*/
/*}*/
/*.mainleft-list {*/
    /*margin-top: 237px;*/
    /*height: 92px;*/
    /*padding-left: 10px;*/
/*}*/
/*.mainleft-list li {*/
    /*float: left;*/
    /*height: 26px;*/
    /*padding: 10px 0;*/
    /*width: 98px;*/
    /*line-height: 26px;*/
    /*font-size: 14px;*/
/*}*/
/*.mainleft-list li:hover a {*/
    /*color: #b61d1d ;*/
/*}*/
/*.foodicon1 {*/
    /*background-image: url("../images/bg-img/foodsicon.png");*/
    /*height: 26px;*/
    /*width: 26px;*/
    /*float: left;*/
    /*margin-right: 5px;*/
/*}*/
/*.foodicon2 {*/
    /*background-image: url("../images/bg-img/foodsicon.png");*/
    /*background-position-y: -26px;*/
    /*height: 26px;*/
    /*width: 26px;*/
    /*float: left;*/
    /*margin-right: 5px;*/
/*}*/
/*.foodicon3 {*/
    /*background-image: url("../images/bg-img/foodsicon.png");*/
    /*background-position-y: -52px;*/
    /*height: 26px;*/
    /*width: 26px;*/
    /*float: left;*/
    /*margin-right: 5px;*/
/*}*/
/*.foodicon4 {*/
    /*background-image: url("../images/bg-img/foodsicon.png");*/
    /*background-position-y: -78px;*/
    /*height: 26px;*/
    /*width: 26px;*/
    /*float: left;*/
    /*margin-right: 5px;*/
/*}*/
/*.food-t li {*/
    /*height: 24px;*/
    /*width: 180px;*/
    /*padding-left: 25px;*/
    /*line-height: 24px;*/
    /*font-size: 14px;*/
/*}*/
/*.food-t li:hover a {*/
    /*color: #b61d1d;*/
/*}*/
/*.food-r {*/
    /*margin-left: 19px;*/
    /*margin-top: 10px;*/
/*}*/
/*.food-r li {*/
    /*float: left;*/
    /*padding: 5px 7px;*/
/*}*/
/*.food-r li:hover a {*/
    /*color: #b61d1d;*/
/*}*/
/*.food-c {*/
    /*color: #b61d1d ;*/
/*}*/
/*.g-hot2-main {*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/
/*.hot2main-right {*/
    /*position: absolute;*/
    /*left: 210px;*/
/*}*/
/*.food-dir {*/
    /*!*display: none;*!*/
/*}*/
/*.food-dir li {*/
    /*float: left;*/
    /*width: 165px;*/
    /*height: 230px;*/
    /*padding: 6px 17px 0;*/
    /*border-right: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/
/*.food-dir li span {*/
    /*font-size: 14px;*/
    /*color: #b61d1d ;*/
    /*margin-top: 10px;*/
    /*display:inline-block;*/
/*}*/
/*.food-dir li a:hover {*/
    /*color: #b61d1d ;*/
/*}*/
/*热销2完成*/
/*页脚开始*/
.copyright {
    width: 100%;
    margin-top: 10px;
}
.copyright_content {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.copyright_content ul {
    width: 890px;
    margin: 10px auto;
    /*background: #E8E8E8;*/
    overflow: hidden;
}
.copyright_content li {
    float: left;
}
.copyright_content a {
    border-right: 1px solid #ccc;
    padding: 0 9px;
}
.copyright_content a:hover {
    color: red;
}
.br a {
    border: none;
}
.footer {
    clear: left;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}
/*页脚完成*/
.index-search {
    width: 465px;
    position: absolute;
    top:94px;
    left: 550px;
    z-index: 999999;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
}
.search-hover{
    padding: 0 10px 0 10px;
    overflow: hidden;
    cursor:pointer;
}
.search-hover:hover {
    background: #ffdfc6;
}
.search-left {
    float: left;
}
.search-right {
    float: right;
}

